h1 {
    color: darkmagenta;
    text-decoration:underline;
    text-decoration-style: wavy;
    text-transform: uppercase;
}

h3 {
    font-weight: bolder;
    text-transform: lowercase;
}


.class {
    color: blue;
    background-color: darkorchid;
}

.class-style {
    text-decoration: underline;
    color: darkred;
}
.class-style_too {
    color: black;
}

#ad {
    color:forestgreen;

}

#idea {
    text-decoration: underline;
}

#bad-idea {
    color: indigo;
    background-color: orchid;
}

.form-input {
    border: 1px solid black;
}

.form-input.error {
    border: 1px solid red;
}

.menu li a {
    text-transform: uppercase;
}

.menu2 > li a {
    text-transform: lowercase;
}

h3 + .class {
    color: green;
}

h3 + p {
    color: yellow;
}

h1 ~ .class {
    color: orange;
}

a[data-customer~="style"] {
    color: tomato;
    font-weight: bolder;
}

input[type="tel"] {
    width: 150px;
    display: block;
    margin-bottom: 10px;
    background-color: yellow;
  }
input[type="button"] {
    background-color:royalblue;
}
  .button[type="textarea"] {
    border: 1px solid black;
  }

  .button[data-foo="bazz"] {
    border: 3px solid red;
  }